# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Misc
.cache/
\# Portfolio Codebase Optimization Report.md
